.form {
    &__hint {
        @include adaptSize(16, 12);
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }

    &__link {
        margin-left: 8px;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &__btn {
        text-align: center;
    }

    &__fields {
        display: grid;
        grid-gap: 40px;
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 1000px;

        &--2 {
            grid-template-columns: 1fr 1fr;
        }

        &--3 {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__label {
        @include adaptSize(18, 14);
        font-weight: 600;
    }

    &__label-container {
        margin-bottom: 10px;
    }

    &__field,
    &__dropdown-btn {
        width: 100%;
        padding: 15px 20px;
        border-radius: 5px;
        border: 3px solid rgba($colorPrimary, .7);
        @include adaptSize(14, 12);
        transition: all .2s linear;
        background-color: #fff;
        font-weight: 500;

        &::placeholder {
            color: rgba($colorPrimary, .6);
        }

        &:focus {
            border: 3px solid $colorSecondary;
        }

        &.error {
            border: 3px solid $colorError;
            color: $colorError;
        }
    }

    &__dropdown-btn {
        color: rgba($colorPrimary, .6);
        text-align: left;
        position: relative;

        &--value {
            color: $colorPrimary;
        }
    }

    &__dropdown-field {
        visibility: hidden;
        position: absolute;
        z-index: $zHidden;
    }

    &__dropdown-field-container {
        position: relative;

        &:hover {
            & .form__dropdown-list-container {
                opacity: 1;
                visibility: visible;
            }

            & .form__dropdown-btn {
                border: 3px solid $colorSecondary;
            }

            & .form__dropdown-icon {
                fill: $colorSecondary;
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &__dropdown-list-container {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        z-index: $zDefault;
        width: 100%;
        padding-top: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all .2s linear;
    }

    &__dropdown-list {
        max-height: 250px;
        overflow: auto;
        padding: 10px 0;
        background-color: #fff;
        border-radius: 10px;
        border: 3px solid $colorSecondary;
        @include scroll();
    }

    &__dropdown-item {
        padding: 10px 15px;
        @include adaptSize(14, 10);
        transition: background-color .2s linear;
        width: 100%;
        text-align: left;
        cursor: pointer;

        &:hover {
            background-color: rgba($colorBgSecondary, .2);
        }
    }

    &__dropdown-icon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        z-index: $zDefault;
        fill: $colorPrimary;
        width: 23px;
        height: 23px;
        transition: all .2s linear;
    }

    &__error,
    &__success {
        @include adaptSize(16, 14);
        margin-bottom: 15px;
        font-weight: 500;
        text-align: center;
    }

    &__success {
        color: $colorSuccess;
    }

    &__error {
        color: $colorError;
    }

    &__warning {
        @include adaptSize(16, 12);
        margin-top: 10px;
        font-weight: 500;
        text-align: center;
        color: $colorError;
    }
}