// Colors
$colorBg1: #fffae7;
$colorBg2: #fad489;
$colorBg3: #fff;
$colorText1: #424551;
$colorText2: #fcc85f;
$colorText3: #ff7300; 
$colorDef: #fcc85f;
$colorDarkDef: #ff7300; 
$colorError: #c01414;

// Size
$heightHeader: 80px;
$widthSidebar: 300px;

// Z-index
$zHeader: 100;
$zSidebar: 99;
$zDefault: 10;

// Paddins
$paddingSection: 80px;